*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 80px;
    background-color: rgb(247, 239, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 30px;
}
.btn{
    font-size: 30px;
    background-color:rgb(247, 239, 230) ;
    border: transparent;
    margin-right: 50px;
    cursor: pointer;
}

.main-icon{
    display: flex;
    align-items: center;
}
.login{
    font-size: 20px;
    background-color:rgb(247, 239, 230) ;
    border: transparent;
    margin-right: 15px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.cart{
    font-size: 27px;
    background-color:rgb(247, 239, 230) ;
    border: transparent;
    margin-right: 15px;
    text-align: right;
    cursor: pointer;
}

.elements {
    height: 100%;
    width: 40%;
    position: absolute;
    top: 0;
    right: -40%;
    background-color: rgba(249, 238, 224, 0.405);
     backdrop-filter: blur(20px);
     padding-top:150px ;
}

.elements i{
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 30px;
    font-weight:600 ;
    cursor: pointer;
}

.navlinks {
    list-style-type: none;
    padding: 20px;

}

.navlinks li {
    margin: 30px 0; 
  
}

.navlinks a {
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: 550;
    text-wrap: nowrap;
 position: relative;  
}
.navlinks a::after{
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 3px;
    background-color: black;
    bottom: -5px;
    transition: 0.3s ease;
}
.navlinks a:hover::after{
    width: 100%;
}

.hero{
    background-color: #EADDCA;
    width: 100%;
    height: 100vh;
}
